.GameCardModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 100px 30px 100px;
  background: #162031;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-width: 440px;
  z-index: 11;
}

.container {
  display: flex;
  gap: 50px;
}

.title {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #96c5e6;
}
.overlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000099;
}