version: "3.8"

services:
  postgres:
    image: postgres:14.8-alpine3.18
    container_name: sabacc_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sabacc
    ports:
      - "5432:5432"
    volumes:
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
