.GameDiceModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal–°ontent {
  position: relative;
  padding: 50px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dice {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.cubes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}