.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 128px;
  line-height: 96%;
  letter-spacing: 35px;
  color: #FFFFFF;

  filter: drop-shadow(0 0 19.7px rgba(255, 255, 255, 0.5));

  width: 651px;
  height: 219px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  white-space: nowrap;
}

.link {
  display: inline-block;
  margin: 16px 0;
  padding: 8px 24px;
  background: #eee;
  color: #333;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.2s;
}

.link:hover {
  background: #ccc;
}