.GameRoundResultModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #00000088;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal–°ontent {
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container {
  display: flex;
  gap: 20px;
}

.nickname {
  height: fit-content;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  background: #000c;
  padding: 10px 20px;
  font: var(--font-m);
  border: 5px solid #00b3ff;
  transform: skew(-20deg);

  span {
    display: inline-block;
    transform: skew(20deg);
  }
}

.credit {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-weight: 100;
    color: #dbd79e;
    font-size: 30px;
  }
}

.imgContainer {
  display: flex;
  flex-direction: row;

  img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-right: -25px
  }
}