.cardContainer {
  position: relative;
  width: 120px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 120px;
  height: 180px;
  object-fit: contain;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.cardBack {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  &:nth-child(1) {
    top: 15px;
    z-index: 2;
  }
  &:nth-child(2) {
    top: 30px;
    z-index: 1;
  }
}

.value {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font: var(--font-s);
  font-weight: 600;
}

.invert {
  bottom: 10px;
  transform: rotate(180deg) translateX(50%);
}

.BLOOD {
  color: rgb(108, 28, 27);
}

.SAND {
  color: rgb(227, 211, 144);
}