.controlsContainer {
  display: flex;
  justify-content: center;
  gap: 4px;
  height: 170px;
}

.cardButton {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  filter: contrast(1.5);
}

.clickable {
  cursor: pointer;
  transform: all .2s ease-in-out;
  
  &:hover {
    opacity: 0.8;
  }
}


.cardButton img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  filter: contrast(1.5);
}
