.game {
  --table-width: 1400px;

  position: relative;
  z-index: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: #fff1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 calc((100% - var(--table-width)) / 2);
  font-family: 'IBM Plex Mono', monospace;
}

.loader {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  background: rgba(0, 13, 47, 0.6);
  padding: 40px 60px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);

  &::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border: 3px solid #FFFFFF;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto 0 auto;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}