.Menu {
  width: 626px;
  height: 309px;
  border-radius: 74px;
  border: 2px solid rgba(243, 242, 238, 0.93);
  background: rgba(0, 13, 47, 0.41);
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.mainLink {
  font: var(--font-m);
  text-transform: uppercase;
}

.btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  // Добавляем сюда стили для кнопки "Правила"
  .btn {
    width: 400px;
    height: 95px;
    border-radius: 35px;
    border: 2px solid rgba(243, 242, 238, 0.5);
    background: linear-gradient(90deg, #0A193A, #6073A0);
    backdrop-filter: blur(10px);
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
